<div class="container">
  <div class="row mt-5">
    <div class="col-md-auto">
      <img src="assets/img/profile.png" class="rounded float-left" style="width: 200px; height: 200px;">
    </div>
    <div class="col border border-dark p-5">
      <div class="row">
        <div class="col-2"><strong>Market Plan</strong></div>
        <div class="col-7">
          <p>Fill in who are your customers? What is the pain statement that you are trying to solve for them?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2"><strong>Benefit</strong></div>
        <div class="col-7">
          <p>What is the benefit that will match the pain statement</p>
        </div>
        <div class="col-2">
          <a href="#" class="btn btn-outline-dark">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12">
      <h4 class="text-center">How is <span class="font-weight-bold">VentureX <i class="fas fa-pencil-alt text-primary"></i> </span> doing today? <span class="small">Check Dashboard</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="row">
        <div class="col-sm-3 col-md-2 mx-auto text-center">
          <div class="progress" data-percentage="27">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar" style="border-color: orange;"></span>
            </span>
            <div class="progress-value">
              <div>
                <strong>27</strong> 
                <span class="small">%</span>
                <br>
                <span>Product</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 mx-auto col-md-2">
          <div class="progress" data-percentage="15">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar" style="border-color: red;"></span>
            </span>
            <div class="progress-value">
              <div> <strong>3</strong> <span class="small">months</span>
                <br>
                <span>Runway</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 mx-auto col-md-2">
          <div class="progress" data-percentage="24">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
              <div>
                <strong>24</strong> <span class="small">%</span>
                <br>
                <span>Conversion</span>
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-3 mx-auto col-md-2">
          <div class="progress" data-percentage="100">
            <span class="progress-left">
              <span class="progress-bar" style="border-color: greenyellow;"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar" style="border-color: greenyellow;"></span>
            </span>
            <div class="progress-value">
              <div>
                <strong>100</strong> <span class="small">%</span>
                <br>
                <span>Engagement</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-2">
      <div class="alert alert-warning" role="alert">
        <strong>Small Converson?</strong> Learn what you can do to <strong>rise you conversion</strong>
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="alert alert-danger" role="alert">
        <strong>Low product score?</strong> <strong>Try this</strong> to get more..
      </div>
    </div>
  </div>
</div>